:root {
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --accent-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #757575;
  --secondary-color: #212121;
  --hover-color: #2196f3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  align-items: baseline;
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  align-content: center;
  align-items: center;
}

.header-tel-link {
  padding-left: 30px;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-link {
  position: relative;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-font);
  transition: color 250ms var(--transition-timing-function);
}

.current-page {
  position: relative;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}

.current-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  color: var(--hover-color);
  transition: 250ms var(--transition-timing-function);
}

.navigation-list-item {
  position: relative;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.logo-second-part {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-mail-link,
.header-tel-link {
  display: flex;
  align-items: baseline;
  align-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms var(--transition-timing-function);
}

.envelope-icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

.phone-icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
}

.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  border-style: none;
  padding: 10px 30px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: var(--hover-color);
  cursor: pointer;
}

.advantages {
  padding-top: 94px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-list-item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border: 0px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-list-item:nth-child(1)::before {
  content: "";
  background-image: url(../images/advantages/antenna.svg);
}

.advantages-list-item:nth-child(2)::before {
  content: "";
  background-image: url(../images/advantages/clock.svg);
}

.advantages-list-item:nth-child(3)::before {
  content: "";
  background-image: url(../images/advantages/diagram.svg);
}

.advantages-list-item:nth-child(4)::before {
  content: "";
  background-image: url(../images/advantages/astronaut.svg);
}

.advantages-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.advantages-list-item {
  width: 270px;
  /* height: 100px; */
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-img-wrapper {
  position: relative;
}

.overlay-services {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.overlay-services-diskription {
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team {
  background: #f5f4fa;
}

.title {
  margin-bottom: 50px;
}

.members-list {
  display: flex;
  justify-content: space-between;
}

.member-list-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.member-list-description {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.box {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  align-items: center;
}

.member-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.networks-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 206px;
}

.networks-list {
  display: flex;
  width: 44px;
  height: 44px;
}

.bg-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 0px;
  border-radius: 50px;
  color: #afb1b8;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bg-icons:hover {
  background-color: var(--hover-color);
}

.icons-networks {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bg-icons:hover .icons-networks {
  fill: white;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 90px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
  border-color: var(--hover-color);
  fill: var(--hover-color);
}

.clients-link {
  /* fill: currentColor; */
  fill: #afb1b8;
}

.footer {
  display: block;
  background: #2f303a;
  padding: 60px 0px;
}

.footer-sections {
  display: flex;
  align-items: flex-start;
}

.nav-footer {
  display: flex;
  flex-direction: column;
}

.footer-wraper {
  display: flex;
  padding-bottom: 20px;
}

.logo-footer {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.logo-second-part-footer {
  margin: 0px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item {
  display: block;
  width: 231px;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail-item,
.footer-tel-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.submit-form {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
}

.form-input-footer {
  margin-right: 12px;
  padding: 15px 0px 15px 16px;
  width: 358px;
  height: 50px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function);
}

.form-input-footer::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-input-footer:hover,
.form-input-footer:focus {
  outline: none;
  border: 1px solid #fff;
}

.form-input-footer:hover::placeholder,
.form-input-footer:focus::placeholder {
  color: #fff;
}

.join-networks {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.join-title {
  display: flex;
  margin-bottom: 21px;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.networks-item {
  display: flex;
  width: 206px;
  justify-content: space-between;
}

.networks-list {
  display: flex;
  width: 44px;
  height: 44px;
}

.footer-network-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-network-icons:hover {
  background: var(--hover-color);
  fill: white;
}

.icons-networks {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icons-networks:hover {
  fill: white;
}

.form-submit-btn {
  display: flex;
  align-items: center;
  border-style: none;
  padding: 13px 28px 13px 28px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #fff;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  cursor: pointer;
}

.submit-btn-svg {
  display: flex;
  fill: #fff;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms var(--transition-timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:focus,
.close-btn:hover {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  display: flex;
  margin-bottom: 12px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field:nth-of-type(4) {
  margin-bottom: 20px;
}

.modal-form-input {
  display: block;
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-input:focus + .modal-form-svg-icon {
  fill: #2196f3;
}

.modal-form-field-wrapper {
  display: block;
  position: relative;
}

.modal-form-svg-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-message {
  display: block;
  padding: 12px 16px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-label,
.link-form-policy {
  display: flex;
  align-items: center;
  height: 24px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.link-form-policy {
  color: #2196f3;
  margin-bottom: 0px;
}

.modal-form-policy-label::before {
  display: inline-block;
  margin-right: 8.4px;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
}

.modal-form-policy:checked + .modal-form-policy-label::before {
  border: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/modal-window/icon-check-modal-window.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-btn {
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
  border-style: none;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.06em;
  color: #fff;
  background: var(--hover-color);
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */