.footer-items-position {
  display: flex;
  align-items: start;
}

.portf-address-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.dark-theme {
  background: #2f303a;
}
