.team {
  background: #f5f4fa;
}
.title {
  margin-bottom: 50px;
}
.members-list {
  display: flex;
  justify-content: space-between;
}
.member-list-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var($secondary-color);
}

.member-list-description {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var($accent-color);
}

.box {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  align-items: center;
}
.member-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
