.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  align-content: center;
  align-items: center;
}

.header-mail-link,
.header-tel-link {
  display: flex;
  align-items: baseline;
  align-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $accent-color;
  transition: color 250ms $transition-timing-function;
}
.header-tel-link {
  padding-left: 30px;
}
.envelope-icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

.phone-icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
}

.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: $hover-color;
  fill: $hover-color;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}
