.modal-btn {
  border-style: none;
  padding: 10px 30px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: $accent-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: $hover-color;
  cursor: pointer;
}
