.form-submit-btn {
  display: flex;
  align-items: center;
  border-style: none;
  padding: 13px 28px 13px 28px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #fff;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  cursor: pointer;
}

.submit-btn-svg {
  display: flex;
  fill: #fff;
  margin-left: 10px;
}
